<div class="container mt-4">

  <h2>Courses</h2>

  
 

  <div class="row">

    @for (c of courses; track c.id) {

      @if (selectedCategory == 0 || c.catId == selectedCategory) {

        <div class="col-md-4 mb-3">
          <div class="card"
               [ngStyle]="{ 'background-color': c.seats <= 2 ? '#fff3cd' : 'white' }">

            <img [src]="c.image" class="card-img-top" height="200">

            <div class="card-body text-center"
                 [ngClass]="{ 'text-danger': c.seats === 0 }">

              <h5>{{ c.title }}</h5>
              <p>{{ c.instructor }}</p>

              <p class="fw-bold">
                {{ c.price | discount }}
              </p>

              <p>Seats: {{ c.seats }}</p>

              @if (c.seats === 0) {
                <p class="text-danger">Course Full</p>
              }

              @if (c.seats <= 2 && c.seats > 0) {
                <p class="text-warning">Almost Full</p>
              }

              <button 
                (click)="register(c)"
                appDisableAfterClick
                class="btn btn-primary w-100"
                [disabled]="c.seats === 0">
                Register
              </button>

            </div>

          </div>
        </div>

      }

    }

  </div>

</div>