<div class="container mt-4">

  <h2 class="text-center mb-4">Order Page</h2>

  <div class="col-md-4 mx-auto mb-4">

    <select 
      [(ngModel)]="selectedCategoryId" 
      class="form-select">

      <option [value]="0">All</option>

      @for (cat of categories; track cat.id) {
        <option [value]="cat.id">
          {{ cat.name }}
        </option>
      }

    </select>

  </div>

  <app-courses 
    [selectedCategory]="selectedCategoryId"
    (courseRegistered)="onCourseRegistered($event)">
  </app-courses>

</div>